{% load django_bootstrap5%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NHNEdu_김윤지</title>
</head>
<body>
  <div class="container">
    <h1>NHN Edu 서버개발 연동파트 사전과제</h1>
    <div class="mx-3">
      <input type="text" class="form-control" style="width: 300px;height: 40px;"  aria-label="Recipient's username" aria-describedby="button-addon2">
      <button class="btn btn-outline-dark" style="height: 45px;" type="button" id="button-addon2">확인</button>
    </div>
      
  </div>
</body>
</html>